body {
  background-color: green;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  /*font-weight: bold;*/
}

button {
  font-size: 30px;
  font-weight: bold;
}

.card {
  float: left;
  width: 100px;
  height: 140px;
  margin-right: 20px;
  background-size: cover;
}

.cardContainer {
  border: solid 1px black;
  border-radius: 5px;
  width: 100px;
  height: 140px;
  float: left;

}

.covered .card{
  opacity: 0;
}

.covered {
  background-image: url('../img/card-back.png');
  background-size: cover;
}

.hand {
  overflow: auto;
}

